h1 {
  font-size: 85px;
  font-family: "Lobster Two", cursive;
}
h2,
h3 {
  font-family: "Dancing Script", cursive;
}
h2 {
  font-size: 55px;
}
h3 {
  font-size: 30px;
}
header {
  float: right;
  padding-bottom: 25px;
}

img {
  width: 400px;
  margin: auto;
  padding: 10px;
  border-radius: 50%;
  display: block;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}
p {
  font-size: 20px;
  text-indent: 10px;
}
footer {
  text-align: center;
  padding: 50px;
}

.nav {
  padding: 10px;
}
.nav a {
  padding: 5px;
}
.main {
  text-align: center;
  display: block;
  padding-top: 90px;
  padding-bottom: 50px;
}
.btn {
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 5px 10px #808080;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}

.center {
  text-align: center;
  padding-top: 60px;
}
.lead {
  float: left;
}
.edge {
  float: right;
}
.nav-link {
  color: black;
}
.navbar-brand {
  color: black;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.interest {
  margin: 45px;
  text-align: center;
}
#contact {
  text-align: center;
  padding-top: 25px;
}
